.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
@media (min-width: 100px) and (max-width: 575px) {
  .card {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .card {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

